body {
  padding: 0;
  margin: 0;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculadora-grilla {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora-grilla > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.864);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .display {
  color: black;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  font-size: 90px;
  text-align: right;
}

.calculadora-grilla > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
